{% extends "layout.html" %}

{% block title %}
    Acerca de
{% endblock %}

{% block main %}
<div class="container-fluid">
    <div class="row align-items-center">
        <div class="col">
            <h2>¿Que es HeatApp?</h2>
            <p>
                <strong>HeatApp</strong> es una aplicacion web desarrollada con ayuda de <code>python</code> y <code>Flask</code> que te introducira a los principios basicos de la transferencia de calor, ademas de las ecuaciones basicas y ejemplos de aplicacion en la vida real para una facil y divertida comprension de los fenomenos de transporte de energia.
                Si ya tienes una cuenta entonces <a href="/login">inicia sesion.</a>
                Nuestra aplicacion utiliza el modulo <code>ht</code> desarrollado por CalebBell, que es una libreria de diseño para modelacion en <em>Ingenieria Quimica</em>. <a href="https://ht.readthedocs.io/en/latest/index.html">Conoce mas!!</a>
            </p>    
        </div>
        <div class="col" align="center">
              <img src="https://media1.tenor.com/images/1d6e59a494718d541ebed21eedccd00a/tenor.gif?itemid=15910394" alt="elmo modo diablo" class="img-thumbnail">
        </div>
    </div>
    <div class="row">
        <div class="col">
           <img src = "https://ars.els-cdn.com/content/image/1-s2.0-S0009250918305359-mmc1.gif" class="img-fluid" alt="TdeQ">
        </div>
        <div class ="col">
            <h2>¿Que es la transferencia de calor?</h2>
            <p>
                La <strong>transferencia de calor</strong> es una ciencia básica que trata de la
                rapidez de transferencia de <em>energía térmica</em>. Tiene una amplia área de
                aplicación que va desde los sistemas biológicos hasta aparatos domésticos
                comunes, pasando por los edificios residenciales y comerciales, los procesos
                industriales, los aparatos electrónicos y el procesamiento de alimentos.
                Comienza a conocer mas, <a href="/register">registrate ya!</a>
            </p>    
        </div>
    </div>
</div>

{% endblock %}




