{% extends "layout.html" %}

{% block title %}
    Conveccion
{% endblock %}

{% block main %}
<form action="/convection" method="post">
    <div class="container-fluid">

        <div class="row align-items-center">
            <div class="col">

                <h3 style="text-align:center;">Trasnferencia de calor entre un solido y un fluido</h3>
                <br><br>

                <div>
                    <fieldset style="background-color:#eeeeee;">

                        <legend>Propiedades</legend>

                        <label for="T" class="form-label">Temperatura de la superficie</label>
                        <div class= "input-group mb-3">
                           <input class="form-control" id="T" name="T" placeholder="Temperatura de la superficie (K)" type="number" min="0" step="0.001"/>
                        </div>

                        <label for="Ts" class="form-label">Temperatura del fluido</label>
                        <div class= "input-group mb-3">
                           <input class="form-control" id="Ts" name="Ts" placeholder="Temperatura del fluido (K)" type="number" min="0" step="0.001"/>
                        </div>

                        <label for="A" class="form-label">Área de la superficie</label>
                        <div class= "input-group mb-3">
                           <input class="form-control" id="A" name="A" placeholder="Área de la superficie (m^2)" type="number" min="0" step="0.001"/>
                        </div>

                        <label for="h" class="form-label">Coeficiente convectivo</label>
                        <div class= "input-group mb-3">
                           <input class="form-control" id="h" name="h" placeholder="Coeficiente convectivo (W/m^2-°C)" type="number" min="0" step="0.001"/>
                        </div>

                        <div class="input-group mb-3">
                            <button class="btn btn-primary" type="submit">Calcular</button>
                        </div>

                        <div class="input-group mb-3">
                            <p class="border">{{q}}</p>

                    </fieldset>
                </div>
            </div>

            <div class="col" align="center">
                <h2> Convección </h2><br>
                <p style="text-align: justify;"> La <strong>convección</strong> se produce únicamente por medio de materiales fluidos.
                Éstos, al calentarse, aumentan de volumen y, por lo tanto, disminuyen su densidad y ascienden desplazando el fluido que se encuentra
                en la parte superior y que está a menor temperatura.</p>

                <br><br>

                <div>
                    
                    
                    
                    <video width="320" height="240" controls autoplay>
                      <source src="https://pbslm-contrib.s3.amazonaws.com/WGBH/conv16/conv16-int-thermalenergy/videos/movie_convection.mp4" type="video/mp4">
                    </video>
                </div>

            </div>
        </div>
    </div>
</form>

{% endblock %}




