{% extends "layout.html" %}

{% block title %}
    Ejemplos
{% endblock %}

{% block main %}
<script src="/static/scripts-examples.js"></script>

<div class="container-fluid">
    <div class="row">
        <h1><i class="bi bi-patch-check"></i> Ejemplos de Transferencia de Calor</h1>
    </div>
    <hr>
    <div class="row">
        <div class="col">
            <h2><i class="bi bi-image"></i> El sol calienta a la tierra</h2>
            <p id="ejemplo1-text">
                <ul id = "aux_1">
                    <li>¿Qué mantiene nuestro planeta a una temperatura que pueda sustentar la vida?</li>
                    <li>¿Por qué algunas partes del planeta son más cálidas que otras?</li>
                    <li>¿Cómo se relaciona la transferencia de energía térmica con los terremotos y los volcanes?</li>
                </ul>
            </p>
            <br>
            <div align="center">
                <button type="button" class="btn btn-primary" onclick="example1_conduccion()">Conduccion</button>
                <button type="button" class="btn btn-secondary" onclick="example1_conveccion()">Conveccion</button>
                <button type="button" class="btn btn-dark" onclick="example1_radiacion()">Radiacion</button>
            </div>
        </div>
        <div class="col align-self-center">
            <img id="ejemplo1-img" src="https://pbslm-contrib.s3.amazonaws.com/WGBH/conv16/conv16-int-thermalenergy/images/earth_science/earth_1.gif" class ="img-fluid" alt="Tierra fija">

        </div>
    </div>
    <br>
    <hr>
    <div class="row">
        <div class="col">
            <h2><i class="bi bi-tree"></i> Alrededor de una fogata</h2>
            <p id="ejemplo2-text">
                <strong> Imagínate en una fogata.</strong>
                <ul id="aux_2">
                    <li>¿Que notaste?</li>
                    <li>¿Por qué podrías sentirte más caliente?</li>
                    <li>¿Qué hace que el malvavisco se derrita?</li>
                    <li>¿Qué deberías usar para sostener el malvavisco sobre el fuego?</li>
                    <li>¿Por qué sale humo del fuego?</li>
                </ul>
            </p>
            <br>
            <div align="center">
                <button type="button" class="btn btn-primary" onclick="example2_conduccion()">Conduccion</button>
                <button type="button" class="btn btn-secondary" onclick="example2_conveccion()">Conveccion</button>
                <button type="button" class="btn btn-dark" onclick="example2_radiacion()">Radiacion</button>
            </div>
        </div>
        <div class="col align-self-center">
            <img id="ejemplo2-img" src="https://pbslm-contrib.s3.amazonaws.com/WGBH/conv16/conv16-int-thermalenergy/images/physical_science/fire1.gif" Class ="img-fluid" alt="Fogata fija">
        </div>
    </div>
    <br>
    <hr>
    <div class="row">
        <div class="col">
            <h2><i class="bi bi-brightness-high"></i> Manteniendose fresco en un dia caluroso</h2>
            <p id="ejemplo3-text">
                <ul id ="aux_3">
                    <li>¿Cómo puedes mantenerte fresco en un día caluroso?</li>
                    <li>¿Qué tipo de superficies de suelo se sienten más cómodas?</li>
                    <li>¿Cómo reacciona tu cuerpo al calor?</li>
                    <li>¿Dónde puedes ir a refrescarte?</li>
                </ul>
            </p>
            <br>
            <div align="center">
                <button type="button" class="btn btn-primary" onclick="example3_conduccion()">Conduccion</button>
                <button type="button" class="btn btn-secondary" onclick="example3_conveccion()">Conveccion</button>
                <button type="button" class="btn btn-dark" onclick="example3_radiacion()">Radiacion</button>
            </div>
        </div>
        <div class="col align-self-center">
            <img id="ejemplo3-img"src="https://pbslm-contrib.s3.amazonaws.com/WGBH/conv16/conv16-int-thermalenergy/images/life_science/person_1.gif" Class ="img-fluid" alt="Persona fija">
        </div>
    </div>
    <hr>
    <br>
    <br>
    <div class="row" align="center">
        <figure class="text-center">
            <blockquote class="blockquote">
                 <p class="mb-0">No hay ningún placer ni pecado por exquisito que sea mayor que el aire acondicionado.</p>
            </blockquote>
            <figcaption class="blockquote-footer">Jason Lee en <cite title="Source Title">Azrael</cite></figcaption>
        </figure>
    </div>
</div>

{% endblock %}

