{% extends "layout.html" %}
{% block title %}
    History
{% endblock %}

{% block main %}
    <table class= "table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Transacted</th>

            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
            <tr>
                <td>{{ transaction.symbol }}</td>
                <td>{{ transaction.acciones }}</td>
                <td>{{ (transaction.acciones * transaction.precio) | abs | usd }}</td>
                <td>{{ transaction.creado }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}