<!DOCTYPE html>

<html lang="es">

    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

        <!-- documentation at http://getbootstrap.com/docs/4.0/, alternative themes at https://bootswatch.com/4-alpha/ >
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet"/-->

        <!--Tema obtenido de Bootswatch: Zephyr ver documentacion en https://bootswatch.com/zephyr/-->
        <link href="/static/zephyr.css" rel="stylesheet"/>

        <!--Iconos de Bootstrap ver documentacion en https://icons.getbootstrap.com/-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
        
        <!-- Javascript propio -->
        
        
        <!-- Favicon del sitio -->
        <link rel="icon" href="https://img.icons8.com/nolan/452/temperature.png" type="image/png" />

        <title>HeatApp: {% block title %}{% endblock %}</title>

    </head>

    <body>

        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid" bis_skin_checked="1">
                <a class="navbar-brand" href="/"><i class="bi bi-thermometer-sun"></i> HeatApp</a>
                <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbar" data-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor01">
                     {% if session.user_id %}
                     <ul class="navbar-nav me-auto">
                         <li class="nav-item"><a class="nav-link" href="/conduction">Conduccion</a></li>
                         <li class="nav-item"><a class="nav-link" href="/convection">Conveccion</a></li>
                         <li class="nav-item"><a class="nav-link" href="/radiation">Radiacion</a></li>
                         <li class="nav-item"><a class="nav-link" href="/examples">Ejemplos</a></li>
                        </ul>
                        <div margin-right="25%">
                            <ul class="navbar-nav me-auto">
                            <li class="nav-item"><a class="nav-link" href="/logout">Cerrar Sesion</a></li>
                        </ul>
                        </div>
                    {% else %}
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item"><a class="nav-link" href="/register">Registrarse</a></li>
                        <li class="nav-item"><a class="nav-link" href="/login">Iniciar Sesion</a></li>
                        <li class="nav-item"><a class="nav-link" href="/about">Acerca de</a></li>
                    </ul>
                    {% endif %}
                </div>
                </div>
            </nav>

            {% if get_flashed_messages() %}
                <header>
                    <div class="alert alert-primary border text-center" role="alert">
                        {{ get_flashed_messages() | join(" ") }}
                    </div>
                </header>
            {% endif %}

            <main class="container p-5">
                {% block main %}{% endblock %}
            </main>
      </body>
<footer class="bg-light text-center text-lg-start">
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © This is CS50x.ni:
    <p>Hecho con <i class="bi bi-heart-fill"></i> por Jose Cardoza y Romarlen Castillo</p>
    </div>
</footer>

</html>
