{% extends "layout.html" %}

{% block title %}
    Registro
{% endblock %}

{% block main %}
<div class="container-fluid">
    <div class="row align-items-center">
        <div class="col"></div>
        <div class="col align-self-center">
            <h2><i class="fas fa-registered"></i> Registrate</h2>
            <br>
            <form action="/register" method="post">
                <div class="form-group">
                    <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Usuario" type="text"/>
                </div>
                <br>
            <div class="form-group">
                    <input class="form-control" name="password" placeholder="Contraseña" type="password"/>
            </div>
                <br>
            <div class="form-group">
                    <input class="form-control" name="confirmation" placeholder="Confirmar Contraseña" type="password"/>
            </div>
                <br>
            <button class="btn btn-primary" type="submit">Registrate</button>
            </form>
        </div>
        <div class="col"></div>
    </div>
</div>
<style>
    footer {
    position: absolute;
    bottom: 0;
    }
</style>
{% endblock %}